## Movie Recommendation System

In [1]:
#importing necessary library
import pandas as pd
import numpy as np

In [2]:
movies =pd.read_csv('tmdb_5000_movies.csv')
credits=pd.read_csv('tmdb_5000_credits.csv')

In [3]:
movies.sample(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
3772,4000000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 80, ""nam...",http://www.youkillmethefilm.com/,8141,"[{""id"": 242, ""name"": ""new york""}, {""id"": 582, ...",en,You Kill Me,"While drying out on the West Coast, an alcohol...",6.091951,"[{""name"": ""Echo Lake Productions"", ""id"": 2147}...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-02-09,2426851,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Professional alcoholic hit man gets life back ...,You Kill Me,6.2,80

In [4]:
credits.sample(1)

,movie_id,title,cast,crew
625,1844,Entrapment,"[{""cast_id"": 2, ""character"": ""Robert \""Mac\"" M...","[{""credit_id"": ""557374dcc3a3686ef900234f"", ""de..."

In [5]:
# merging the two  datasets into  a single  data frame
movies = movies.merge(credits,on='title')

In [6]:
movies.shape

(4809, 23)

In [7]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4809 entries, 0 to 4808
Data columns (total 23 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4809 non-null   int64
 1   genres                4809 non-null   object
 2   homepage              1713 non-null   object
 3   id                    4809 non-null   int64
 4   keywords              4809 non-null   object
 5   original_language     4809 non-null   object
 6   original_title        4809 non-null   object
 7   overview              4806 non-null   object
 8   popularity            4809 non-null   float64
 9   production_companies  4809 non-null   object
 10  production_countries  4809 non-null   object
 11  release_date          4808 non-null   object
 12  revenue               4809 non-null   int64
 13  runtime               4807 non-null   float64
 14  spoken_languages      4809 non-null   object
 15  status                4809 non-null   object
 16  tagline               3965 non-null   object
 17  title                 4809 non-null   object
 18  vote_average          4809 non-null   float64
 19  vote_count            4809 non-null   int64
 20  movie_id              4809 non-null   int64
 21  cast                  4809 non-null   object
 22  crew                  4809 non-null   object
dtypes: float64(3), int64(5), object(15)
memory usage: 864.2+ KB

In [8]:
movies.sample(1)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,movie_id,cast,crew
4344,1000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 27, ""name...",NaN,11298,"[{""id"": 4924, ""name"": ""insane asylum""}, {""id"":...",en,The Howling,After a bizarre and near fatal encounter with ...,6.532855,"[{""name"": ""AVCO Embassy Pictures"", ""id"": 494},...",...,91.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Imagine your worst fear a reality,The Howling,6.4,161,11298,"[{""cast_id"": 10, ""character"": ""Dr. George Wagg...","[{""credit_id"": ""52fe44209251416c75029ad1"", ""de..."

In [9]:
# making a list of important features and remove the remaning fevatures 
movies = movies[['id','title','overview','genres','keywords','cast','crew']]

In [10]:
movies.head(1)

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [11]:
movies.isnull().sum()

id          0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [12]:
movies.dropna(inplace=True)

In [13]:
movies.isnull().sum()

id          0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

In [14]:
#Removing any duplicate values 
movies.duplicated().sum()

0

In [15]:
#dropping uplicate values
movies.drop_duplicates(inplace=True)

In [16]:
movies.duplicated().sum()

0

# Data Preprocessing

In [17]:
# filtering the gener from the dictionary 
import ast 
def convert(obj):
    L=[]
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [18]:
movies['genres']=movies['genres'].apply(convert)

In [19]:
movies.head(1)

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, Science Fiction]","[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","[{""cast_id"": 242, ""character"": ""Jake Sully"", ""...","[{""credit_id"": ""52fe48009251416c750aca23"", ""de..."

In [20]:
#appliying the same process to filter the key words 
movies['keywords']= movies['keywords'].apply(convert)

In [21]:
movies.sample(1)

,id,title,overview,genres,keywords,cast,crew
2445,10800,Dragon Hunters,Dragon Hunters is a fantastic tale telling the...,"[Animation, Family]","[destroy, future, world supremacy, best friend...","[{""cast_id"": 8, ""character"": ""Lian-Chu"", ""cred...","[{""credit_id"": ""52fe43b99251416c7501bb79"", ""de..."

In [22]:
# importing the caste members 
import ast 
def convert3(obj):
    L=[]
    count=0
    for i in ast.literal_eval(obj):
        if count !=3:
            L.append(i['name'])
            count += 1  # Increment count
        else :
            break
    return L

In [23]:
movies['cast']=movies['cast'].apply(convert3)

In [24]:
movies['cast'].sample(1).value_counts()

cast
[Keanu Reeves, Laurence Fishburne, Carrie-Anne Moss]    1
Name: count, dtype: int64

In [25]:
movies.sample(3)

,id,title,overview,genres,keywords,cast,crew
3220,16727,The Namesake,"American-born Gogol, the son of Indian immigra...",[Drama],"[indian lead, independent film, woman director]","[Kal Penn, Tabu, Irrfan Khan]","[{""credit_id"": ""584064d59251416f41000ab3"", ""de..."
4798,36095,Cure,A wave of gruesome murders is sweeping Tokyo. ...,"[Crime, Horror, Mystery, Thriller]","[japan, prostitute, hotel, based on novel, hal...","[Koji Yakusho, Masato Hagiwara, Tsuyoshi Ujiki]","[{""credit_id"": ""52fe45cc9251416c9103eb7b"", ""de..."
870,8536,Superman II,Three escaped criminals from the planet Krypto...,"[Action, Adventure, Fantasy, Science Fiction]","[saving the world, dc comics, sequel, superher...","[Gene Hackman, Christopher Reeve, Ned Beatty]","[{""credit_id"": ""52fe44aec3a36847f80a3f8d"", ""de..."

In [26]:
#fetching the name of all the directors in crew coloumn
def fetch_director(obj):
    L=[]
    for i in ast.literal_eval(obj):
        if i['job']=='Director':
            L.append(i['name'])
    return L

In [27]:
movies['crew']=movies['crew'].apply(fetch_director)

In [28]:
movies.sample(10)

,id,title,overview,genres,keywords,cast,crew
246,2024,The Patriot,After proving himself on the field of battle i...,"[Drama, History, War, Action]","[rebel, southern usa, loss of son, martial art...","[Mel Gibson, Heath Ledger, Joely Richardson]",[Roland Emmerich]
3946,35691,Letters to God,A young boy fighting cancer writes letters to ...,"[Action, Drama, Family, Thriller]","[letter, hope, postman, god, cancer, independe...","[Robyn Lively, Jeffrey Johnson, Bailee Madison]","[David Nixon, Patrick Doughtie]"
3614,22649,A Farewell to Arms,British nurse Catherine Barkley (Helen Hayes) ...,"[Drama, Romance, War]","[italy, nurse, love letter, officer, priest, e...","[Helen Hayes, Gary Cooper, Adolphe Menjou]",[Frank Borzage]
2436,16988,How She Move,After the death of Raya Green's(Rutina Wesley)...,[Drama],"[black people, loss of sister, dance, stepping]","[Rutina Wesley, Dwain Murphy, Boyd Banks]",[Ian Iqbal Rashid]
1033,11467,America's Sweethearts,In the midst of a nasty public breakup of marr...,"[Comedy, Romance]","[film business, film producer, wife husband re...","[Julia Roberts, Billy Crystal, Catherine Zeta-...",[Joe Roth]
447,13027,Eagle Eye,Jerry Shaw and Rachel Holloman are two strange...,"[Mystery, Thriller, Action]","[artificial intelligence, washington d.c., sec...","[Shia LaBeouf, Michelle Monaghan, Rosario Dawson]",[D.J. Caruso]
3617,13193,Saved!,"Teenage Mary Cummings, who has ""been Born Agai...","[Comedy, Drama]","[christianity, gay, coming out, independent fi...","[Jena Malone, Mandy Moore, Macaulay Culkin]",[Brian Dannelly]
3255,11596,New Nightmare,Freddy's back … and he's badder than ever! Nan...,"[Horror, Thriller, Mystery, Fantasy]","[fire, kidnapping, nightmare, earthquake, inso...","[Heather Langenkamp, Robert Englund, Miko Hughes]",[Wes Craven]
3183,1619,The Way of the Gun,Parker and Longbaugh are a pair of low-level p...,"[Action, Crime, Drama, Thriller]","[gunslinger, mexico, hotel, ransom, mexican st...","[Benicio del Toro, Ryan Phillippe, Juliette Le...",[Christopher McQuarrie]
3260,1359,American Psycho,A wealthy New York investment banking executiv...,"[Thriller, Drama, Crime]","[based on novel, wall street, psychopath, whit...","[Christian Bale, Willem Dafoe, Jared Leto]",[Mary Harron]

In [29]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4806 entries, 0 to 4808
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        4806 non-null   int64
 1   title     4806 non-null   object
 2   overview  4806 non-null   object
 3   genres    4806 non-null   object
 4   keywords  4806 non-null   object
 5   cast      4806 non-null   object
 6   crew      4806 non-null   object
dtypes: int64(1), object(6)
memory usage: 300.4+ KB

In [30]:
# converting the overview into strings 
movies['overview']=movies['overview'].apply(lambda x:x.split())

In [31]:
movies.head()

,id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, Science Fiction]","[culture clash, future, space war, space colon...","[Sam Worthington, Zoe Saldana, Sigourney Weaver]",[James Cameron]
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drug abuse, exotic island, east india ...","[Johnny Depp, Orlando Bloom, Keira Knightley]",[Gore Verbinski]
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, based on novel, secret agent, sequel, mi...","[Daniel Craig, Christoph Waltz, Léa Seydoux]",[Sam Mendes]
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dc comics, crime fighter, terrorist, secret i...","[Christian Bale, Michael Caine, Gary Oldman]",[Christopher Nolan]
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, Science Fiction]","[based on novel, mars, medallion, space travel...","[Taylor Kitsch, Lynn Collins, Samantha Morton]",[Andrew Stanton]

In [32]:
movies['genres']=movies['genres'].apply(lambda x:[i.replace(" ","")for i in x])
movies['cast']=movies['cast'].apply(lambda x:[i.replace(" ","")for i in x])
movies['crew']=movies['crew'].apply(lambda x:[i.replace(" ","")for i in x])
movies['keywords']=movies['keywords'].apply(lambda x:[i.replace(" ","")for i in x])

In [33]:
movies.sample(5)

,id,title,overview,genres,keywords,cast,crew
2730,70829,The Last Godfather,"[Young-goo, the, son, of, mafia, boss, Don, Ca...","[Action, Comedy, Thriller]",[],"[HarveyKeitel, JasonMewes, BlakeClark]",[ShimHyung-Rae]
1988,41283,Faster,"[Driver, (Dwayne, Johnson), has, spent, the, l...","[Crime, Drama, Action, Thriller]",[],"[DwayneJohnson, BillyBobThornton, MaggieGrace]","[GeorgeTillman,Jr.]"
1119,27582,The Mechanic,"[Arthur, Bishop, is, a, 'mechanic', -, an, eli...","[Action, Thriller, Crime]","[poison, chicago, prostitute, martialarts, ass...","[JasonStatham, BenFoster, DonaldSutherland]",[SimonWest]
1545,72570,The Vow,"[Happy, young, married, couple, Paige, and, Le...","[Drama, Romance]","[coma, amnesia, basedontruestory, memoryloss, ...","[RachelMcAdams, ChanningTatum, SamNeill]",[MichaelSucsy]
1155,216015,Fifty Shades of Grey,"[When, college, senior, Anastasia, Steele, ste...","[Drama, Romance, Thriller]","[basedonnovel, perversion, spanking, billionai...","[DakotaJohnson, JamieDornan, JenniferEhle]",[SamTaylor-Johnson]

In [34]:
movies['tag']=movies['overview']+movies['genres']+movies['keywords']+movies['cast']+movies['crew']

In [35]:
movies.head()

,id,title,overview,genres,keywords,cast,crew,tag
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron],"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski],"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send...","[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes],"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney...","[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan],"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton],"[John, Carter, is, a, war-weary,, former, mili..."

In [36]:
new_df=movies[['id','title','tag']]

In [37]:
new_df.head()

,id,title,tag
0,19995,Avatar,"[In, the, 22nd, century,, a, paraplegic, Marin..."
1,285,Pirates of the Caribbean: At World's End,"[Captain, Barbossa,, long, believed, to, be, d..."
2,206647,Spectre,"[A, cryptic, message, from, Bond’s, past, send..."
3,49026,The Dark Knight Rises,"[Following, the, death, of, District, Attorney..."
4,49529,John Carter,"[John, Carter, is, a, war-weary,, former, mili..."

In [38]:
#converting the list into string in tags coloumb 
new_df['tag']=new_df['tag'].apply(lambda x:" ".join(x))

C:\Users\DELL\AppData\Local\Temp\ipykernel_13104\587979551.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tag']=new_df['tag'].apply(lambda x:" ".join(x))

In [39]:
new_df.head()

,id,title,tag
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...
4,49529,John Carter,"John Carter is a war-weary, former military ca..."

In [40]:
new_df['tag'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

In [41]:
new_df['tag']=new_df['tag'].apply(lambda x:x.lower())

C:\Users\DELL\AppData\Local\Temp\ipykernel_13104\1740795540.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tag']=new_df['tag'].apply(lambda x:x.lower())

In [42]:
new_df.head()

,id,title,tag
0,19995,Avatar,"in the 22nd century, a paraplegic marine is di..."
1,285,Pirates of the Caribbean: At World's End,"captain barbossa, long believed to be dead, ha..."
2,206647,Spectre,a cryptic message from bond’s past sends him o...
3,49026,The Dark Knight Rises,following the death of district attorney harve...
4,49529,John Carter,"john carter is a war-weary, former military ca..."

# vectorization Of Tags

In [43]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000,stop_words='english')

In [44]:
vectors =cv.fit_transform(new_df['tag']).toarray()

In [45]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [46]:
#cross checking the list of features(indivisual vectors/words) or unique words 
len(cv.get_feature_names_out())

5000

In [47]:
#removing similar words using the nltk library 
import nltk 
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

In [48]:
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [49]:
new_df['tag']=new_df['tag'].apply(stem)

C:\Users\DELL\AppData\Local\Temp\ipykernel_13104\599176683.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['tag']=new_df['tag'].apply(stem)

# Calculating the cosine distance btw movies for the recommender system

In [50]:
from sklearn.metrics.pairwise import cosine_similarity
similarity= cosine_similarity(vectors)

In [51]:
sorted(list(enumerate(similarity[0])),reverse=True,key=lambda x:x[1])[1:6]

[(539, 0.26089696604360174),
 (1192, 0.2581988897471611),
 (260, 0.25110592822973776),
 (1214, 0.24944382578492943),
 (507, 0.24846467329894412)]

In [52]:
def recommend (movies):
    movies_index = new_df[new_df['title']==movies].index[0]
    distance =similarity[movies_index]
    movies_list =sorted(list(enumerate(distance)),reverse=True,key=lambda x:x[1])[1:6]

    for i in movies_list :
        print (new_df.iloc[i[0]].title)

In [54]:
#checking if the recommendationengine works
recommend('Batman Begins')

The Dark Knight
The Dark Knight Rises
Batman
Batman & Robin
Batman

In [55]:
#exporting the files for deployment 
import pickle 
pickle.dump(new_df,open('movies_pkl','wb'))

In [56]:
pickle.dump(new_df.to_dict(),open('movies_dict.pkl','wb'))

In [59]:
pickle.dump(similarity,open('similarity.pkl','wb'))